.border-contact{
  color: black;
  margin-bottom: 10px;
  padding-bottom: 10px;

  border: 1px solid rgb(112, 112, 112);
}
.contact-icons{
  display: flex;
  justify-content: space-around;
}
.iconpng {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.iconpng:hover {
  transform: scale(1.1);
}

.closebutton{
  background-color: transparent;
  height: 30px;
  width: 100%;
  font-size: large;
  color: rgb(123, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.closebutton:hover{
  background-color: red;
  transition: transform 0.3s ease;
  transform: scale(1.0);
  color: white;
}