.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.headingname {
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 80px;
}

.imgcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 700px; 
 
}

.circle {
  margin-bottom: 20px;
}

.circle-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mydetail {
  max-width: 800px;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}

.text-section {
  text-align: center;
}

.text-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.text-section p {
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {


  .imgcontainer {
    margin-right: 40px;
    max-width: 800px;
    margin-top: 100px;
  }

  
}


@media (max-width: 768px) {
  .circle-image {
    width: 100%;
    height: auto;
  }
  
  .circle {
    width: 100%; 
    height: 40wh; 
    padding: 10px;
    margin-bottom: 40px;
}

  .Typewriter h1 {
    font-size: 60px;
  }

  .landing-container {
    margin-top: 90px;
    flex-direction: column;
  }

  .headingname {
    font-size: 60px;
  }

  .imgcontainer {
    /* gap: 5px; */
    flex-direction: column;
    align-items: flex-start;
  }


  .mydetail {
    max-width: 100%;
    font-size: 20px;
  }

  .text-section h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .text-section p {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .headingname {
    text-align: center;
    font-size: 40px;
  }

  .mydetail {
    padding: 5px;
    max-width: 100%;
    font-size: 13px;
  }

  .text-section h1 {
    font-size: 24px;
  }

  .text-section p {
    margin-bottom: 5px;
  }
}
