.myservices {
    min-height: 300px;
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

}

.service-step {
    padding: 10px;
    position: absolute;

    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 20vh;
    border: solid rgb(216, 216, 216) 1px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.service-step:hover {
    color: white;
    background-color: rgb(255, 0, 0); /* Change the background color on hover */
}

.service-step:hover svg {
    fill: rgb(255, 255, 255); /* Change this to the desired color */
}

.service-step::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #ff0000);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease; 
    z-index: 0; 
}
.line-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* To ensure clicks go through the SVG */
}
.service-data {
    position: absolute;

    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1; /* Ensure content stays above the gradient */
}

@media (min-width: 1281px) { /* hi-res laptops and desktops */
    .service-step {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin-right: 0px;
        width: 15%;
        height: 25vh;
        box-shadow: inset;
    }
}

@media (max-width: 1280px) { /* laptops and small desktops */
    .service-step {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 15%;
        height: 25vh;
    }
}

@media (max-width: 1024px) { /* tablets and small screens */
    .service-step {
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
        width: 20%;
        height: 25vh;
    }
}

@media (max-width: 768px) { /* mobile devices */
    .service-step {
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;        
        width: 95%;
        height: 20vh;
    }
}
