
.pdfshow {
  margin-top: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
