@font-face {
  font-family: "office-bold";
  src: url(./fonts/OfficeCodeProD-Bold.woff);
}


body {
  margin: 0;
  font-family: 'office-bold';
  /* font-family: 'Rethink Sans', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
